<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../style/style.css">
</head>
<body style="background-color: #d8e6ff;">
    <div class="container">
        <div class="cards">
            <div class="cards__item">
                <h2 class="cards__tag">ООП</h2>
                <div class="cards__content">
                    <p class="cards__description">Які знаєте принципи ООП?</p>
                    <a target="_blank" href="https://www.youtube.com/watch?v=gbhFXNcxAYQ#t=01h13m33s" class="button">Подивитись відповідь</a>
                </div>
            </div>
            <div class="cards__item">
                <h2 class="cards__tag">ООП</h2>
                <div class="cards__content">
                    <p class="cards__description">Які модифікатори видимості є у РНР?</p>
                    <a target="_blank" href="https://www.youtube.com/watch?v=gbhFXNcxAYQ#t=38m37s" class="button">Подивитись відповідь</a>
                </div>
            </div>
            <div class="cards__item">
                <h2 class="cards__tag">ООП</h2>
                <div class="cards__content">
                    <p class="cards__description">Розкажіть про обробку помилок та виняток (try catch, finaly i throw).</p>
                    <a target="_blank" href="https://www.youtube.com/watch?v=MCNFpthTnio#t=14s" class="button">Подивитись відповідь</a>
                </div>
            </div>
            <!--  -->
            <div class="cards__item">
                <h2 class="cards__tag">ООП</h2>
                <div class="cards__content">
                    <p class="cards__description">Що таке namespace і навіщо вони потрібні?</p>
                    <a target="_blank" href="https://www.youtube.com/watch?v=URiLNu4v3JU#t=16s" class="button">Подивитись відповідь</a>
                </div>
            </div>
            <div class="cards__item">
                <h2 class="cards__tag">ООП</h2>
                <div class="cards__content">
                    <p class="cards__description">Розкажіть про принципи SOLID.</p>
                    <a target="_blank" href="https://www.youtube.com/watch?v=IoNe4AC_whA" class="button">Подивитись відповідь</a>
                </div>
            </div>
            <div class="cards__item">
                <h2 class="cards__tag">Majic</h2>
                <div class="cards__content">
                    <p class="cards__description">Які магічні методи ви знаєте та як вони застосовуються?</p>
                    <a target="_blank" href="https://www.youtube.com/watch?v=d5P2ksSKxio#t=23s" class="button">Подивитись відповідь</a>
                </div>
            </div>
            <!--  -->
            <div class="cards__item">
                <h2 class="cards__tag">Типизація</h2>
                <div class="cards__content">
                    <p class="cards__description">Яка система типів використовується у PHP? Опишіть плюси та мінуси.</p>
                    <a target="_blank" href="https://www.youtube.com/watch?v=RbrU5sirB6c#t=51s" class="button">Подивитись відповідь</a>
                </div>
            </div>
            <div class="cards__item">
                <h2 class="cards__tag">BD</h2>
                <div class="cards__content">
                    <p class="cards__description">Що таке PDO?</p>
                    <a target="_blank" href="https://www.php.net/manual/ru/intro.pdo.php#:~:text=PDO%20%D0%BE%D0%B1%D0%B5%D1%81%D0%BF%D0%B5%D1%87%D0%B8%D0%B2%D0%B0%D0%B5%D1%82%20%D0%B0%D0%B1%D1%81%D1%82%D1%80%D0%B0%D0%BA%D1%86%D0%B8%D1%8E%20%D0%B4%D0%BE%D1%81%D1%82%D1%83%D0%BF%D1%83%20%D0%BA,%D0%B2%D1%8B%D0%BF%D0%BE%D0%BB%D0%BD%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%B7%D0%B0%D0%BF%D1%80%D0%BE%D1%81%D0%BE%D0%B2%20%D0%B8%20%D0%B2%D1%8B%D0%B1%D0%BE%D1%80%D0%BA%D0%B8%20%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85." class="button">Подивитись відповідь</a>
                </div>
            </div>
            <div class="cards__item">
                <h2 class="cards__tag">Server</h2>
                <div class="cards__content">
                    <p class="cards__description">У чому різниця між GET та POST?</p>
                    <a target="_blank" href="https://www.youtube.com/watch?v=zoI4mpsamT4#t=51m41s" class="button">Подивитись відповідь</a>
                </div>
            </div>
            <!--  -->
            <div class="cards__item">
                <h2 class="cards__tag">PSR</h2>
                <div class="cards__content">
                    <p class="cards__description">Що таке PSR?</p>
                    <a target="_blank" href="https://www.youtube.com/watch?v=TwZ9AVcHOeU#t=19s" class="button">Подивитись відповідь</a>
                </div>
            </div>
            <div class="cards__item">
                <h2 class="cards__tag">JIT</h2>
                <div class="cards__content">
                    <p class="cards__description">Що таке JIT? Як він працює?</p>
                    <a target="_blank" href="https://www.youtube.com/watch?v=mAPLqPaeygg" class="button">Подивитись відповідь</a>
                </div>
            </div>
            <div class="cards__item">
                <h2 class="cards__tag">Патерни</h2>
                <div class="cards__content">
                    <p class="cards__description">Назвіть патерни проектування, із якими доводилося працювати.</p>
                    <a target="_blank" href="https://www.youtube.com/watch?v=SykcHvk78jM" class="button">Подивитись відповідь</a>
                </div>
            </div>
            <!--  -->
            <div class="cards__item">
                <h2 class="cards__tag">TDD</h2>
                <div class="cards__content">
                    <p class="cards__description">Що таке TDD?</p>
                    <a target="_blank" href="https://freehost.com.ua/ukr/faq/articles/chto-takoe-tdd-test-driven-development/" class="button">Подивитись відповідь</a>
                </div>
            </div>
            <div class="cards__item">
                <h2 class="cards__tag">Tests</h2>
                <div class="cards__content">
                    <p class="cards__description">Розкажіть про Unit Tests (required), Functional Tests (optional). Моки в PHP.</p>
                    <a target="_blank" href="https://www.youtube.com/watch?v=zoI4mpsamT4#t=1h03m58s" class="button">Подивитись відповідь</a>
                </div>
            </div>
            <a target="_blank" href="https://www.youtube.com/watch?v=zoI4mpsamT4" class="button btn-light">Повний курс</a>
        </div>
    </div>
</body>
</html>
